# created by virtualenv automatically
# پوشه‌های مجازی
*.pyc
*.pyo
__pycache__/

# محیط مجازی
venv/
myenv/
 .venv
# فایل‌های پایگاه داده
db.sqlite3

# فایل‌های استاتیک
static/

# فایل‌های رسانه‌ای
media/

# تنظیمات مربوط به IDE ها
.vscode/
.idea/

# تنظیمات سیستم‌عامل
.DS_Store
Thumbs.db
